*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: system-ui;
    outline: none;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 19.5%;
    background-color: #272725;
    padding: 15px;
    border-radius: 20px;
    box-shadow: inset 5px 5px 12px rgba(0,0,0,.16),
                      -5px -5px 12px rgb(54, 53, 53);
    display: grid;
    grid-template-columns: repeat(4, 50px);
    gap: 0.5rem;
}

input {
    grid-column: span 4;
    height: 70px;
    width: 230px;
    background-color: #c0c0c0;
    box-shadow: inset 5px 5px 12px rgb(100, 94, 94),
                      5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 30px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button {
    height: 48px;
    width: 48px;
    background-color: #c0c0c0;
    box-shadow: -2px -2px 9px #c0c0c0,
                 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 20%;
    margin: 8px;
    font-size: 16px;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.equal {
    width: 108px;
    border-radius: 20px;
    background-color: #c0c0c0;
    box-shadow: -2px -2px 9px #c0c0c0,
                 5px 5px 12px rgba(0,0,0,.16);
}


@media (max-width: 991px) {
    .calculator {
        width: 25.3%;
        grid-template-columns: repeat(4, 45px);
    }

    input {
        width: 217px;
        height: 60px;
        font-size: 25px;
    }

    button {
        height: 45px;
        width: 45px;
        font-size: 14px;
    }

    .equal {
        width: 100px;
    }
}

@media (max-width: 768px) {
    .calculator {
        width: 29.5%;
        grid-template-columns: repeat(4, 40px);
    }

    input {
        width: 190px;
        height: 55px;
        font-size: 22px;
    }

    button {
        height: 40px;
        width: 40px;
        font-size: 13px;
    }

    .equal {
        width: 90px;
    }
}

@media (max-width: 576px) {
    .calculator {
        width: 40%;
        grid-template-columns: repeat(4, 1fr);
        padding: 10px;
    }

    input {
        width: 100%;
        height: 50px;
        font-size: 20px;
        padding: 10px;
    }

    button {
        height: 35px;
        width: 100%;
        font-size: 12px;
        margin: 5px 0;
    }

    .equal {
        width: 220%;
        height: 40px;
    }
}
